.navbar-container {
    opacity: 0;
}

.navbar {
    border-radius: 0;
}

.form-control {
    margin: 0 10px;
}

.profile-link {
    font-size: 20pt;
}

.profile-link::before {
    margin-right: 5px;
}